html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: rgba(0,0,0,.75);
  font-family: Lato,Helvetica Neue,Helvetica,sans-serif;
}

.icon-medium {
  font-size: 1.3em;
  color: #fff;
}
.icon-small {
  font-size: 1.1em;
  color: #fff;
}

.editor-toolbar {
  height: 45px;
  width: 100%;
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0 !important;
  border-radius: 0 !important;
  background: url(https://g.csdnimg.cn/common/csdn-toolbar/images/toolbar_bg_dark.png) no-repeat center center;
  background-size: cover;
  &::after, &::before {
    margin-bottom: 0 !important;
    display: inline !important;
    height: 0 !important;
    content: none !important;
  }
  .editor-toolbar-warp {
    display: block;
    float: left;
    // margin-bottom: 10px;
    button {
      border: 0 !important;
      margin: 0 3px !important;
      &:hover {
        background-color: #333333 !important;
      }
      &:focus {
        outline: none !important;
      };
    }
    .active {
      background-color: #333333 !important;
    }
  }

}

.EasyMDEContainer {
  height: 100%;
  background-color: #F9F9F5;
  .CodeMirror-wrap {
    padding-top: 55px !important;
    border: none !important;
    background-color: #F9F9F5;

    // 文本居中
    .CodeMirror-scroll {
      width: 60%;
      margin: 0 auto;
      overflow: hidden !important;
      .CodeMirror-line span {
        font-size: 18px;
        color: #2C3E50;
      }

      .CodeMirror-placeholder {
        font-size: 20px !important;
      }
    }
  }
}

.cm-formatting {
  color: #B7B7B7 !important;
}

/* 全屏 */
.editor-preview {
  font-size: 18px;
  color: #2C3E50;
  padding-top: 45px !important;
  background-color: #F9F9F5 !important;
  .editor-preview-warp {
    width: 60%;
    margin: 0 auto;
  }
}

.editor-preview-full {
  position: static !important;
}

.editor-statusbar {
  height: 30px;
  width: 200px;
  line-height: 30px;
  position: fixed;
  bottom: 0;
  right: 10px;
  z-index: 99;
}

// 编辑区内容定制
.CodeMirror-scroll {
  .cm-quote {
    color: #4271AE !important;
    font-style: normal !important;
  }
}



// 预览内容定制
.editor-preview {
  a {
    color: #08c;
    text-decoration: none;
    &:hover {
      color: #5BA4E5;
      text-decoration: underline;
    }
  }

  hr {
    border: 0;
    border-bottom: 1px dashed #cfcfcf;
    margin: 30px 0;
  }

  blockquote {
    font-size: 18px;
    padding: 3px 5px;
    margin: 0 0 20px;
    background: none repeat scroll 0 0 rgba(102,128,153,.05);
    border-left: 15px solid #D6DBDF;
    li {
      height: 25px;
      line-height: 25px;
    }
  }

}